<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <style>

    </style>
<h1><%=@user.full_name %>'s Reviews:</h1>


  <%@reviews.each do |review| %>
  <ul>
    Title: <%=review.title %><br>
    Experience: <%=review.experience %><br>
    Rating: <%=review.rating%>/5<br>
  </ul><br><br>
    <% end%>

    <form action="/reviews/new" method="GET">
      <input type="submit" class="button" value="Create New Review">
    </form>

    <form action="/reviews/index">
      <input type="submit" class="button" value="Read All User Reviews">
    </form>

    <form action="/restaurants/index">
      <input type="submit" class="button" value="View Restaurants">
    </form>

    <form action="/logout">
      <input type="submit" class="button" value="Log Out">
    </form>

  </body>
</html>
