1) show all personal reviews
    2) have link to view ALL reviews
      3) have link to view ALL restaurants

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%{@user.name}%>'s Reviews:</title>
  </head>
  <body>
    <style>

    </style>
<% flash.keys.each do |type| %> 
<div data-alert class="flash <%= type %> alert-box radius"> 
   <%= flash[type] %> 
<a href="#" class="close">&times;</a> 
</div>     
<% end %>

    <form action="/reviews/new" method="GET">
      <input type="submit" class="button" value="Create New Review">
    </form>

    <form action="/reviews/index">
      <input type="submit" class="button" value="Read All User Reviews">
    </form>

    <form action="/restaurants/index">
      <input type="submit" class="button" value="View Restaurants">
    </form>

    <form action="/logout">
      <input type="submit" class="button" value="Log Out">
    </form>

  </body>
</html>
