<br><br><br><br>
<!-- <style>
body {
  font-size: 20px;
  }
  </style>
  <body> -->
<span style='font-size:100px;'>&#9759;</span><br><br>
  <form action="/signup" method="POST">
    <h3>&emsp; &ensp;Full Name <input type="text" name="full_name" required style="width: 240px;"></h3>
    <h3>Username <input type="text" name="username" required style="width: 240px;"></h3>
    <h3>&nbsp;Password <input type="password" name="password" maxlength="15" required style="width: 240px;"></h3>
    <h3>&emsp; &ensp;Email <input type="email" name="email" required style="width: 240px;"></h3><br>
  <input type="submit" value="Sign Up"<br>
</form>
