<br>
<h1> Welcome to MUNCH! </h1>
<br><br>

<h4> Please Sign Up Below: </h4>
<style>
body {
  font-size: 20px;
  }
  </style>
  <body>
    <span style='font-size:100px;'>&#9759;</span>
      <form action="/signup" method="POST">
      <h4>Username:  <input type="text" name="username" style="width: 240px;"><br>
      &nbsp;Password:  <input type="password" name="password" style="width: 240px;"><br>
      &emsp; &ensp;Email:  <input type="text" name="email" style="width: 240px;"></h4><br>
      <h4><input type="submit" value="Sign Up"</h4><br>
