<br><br><br>
<h1>Edit Your Review</h1>
    <form action="/reviews/<%=@review.id%>" method="POST">
      <input type="hidden" name="_method" value="PATCH">
      <label>Title</label>
      <input type="text" name="title"require><br><br>
      <label>Experience</label>
      <textarea name="experience" require>
      </textarea><br><br>
      <label>Rating</label>
      <input type="number" name="rating" step="0.5" min="1" max="5"require><br><br><br>
      <input type="submit" value="Save Changes">
    </form>

    <form action="/reviews/index">
		<input type="submit"class="button" value="Return to Index">
	  </form>
  </body>
</html>
