<br><br><br>
<h1><strong>User Reviews</strong></h1><br><br>


  <%@reviews.each do |review| %>
  <ul>
    <!-- list restaurant name as href & link to /restaurants/show  restaurant_id??-->
    <strong><a href="/restaurants/<%=review.restaurant_id %>"style="color:#8c1d2d"><%=review.title%></a></strong><br>

    <%= review.experience %><br>
    <strong>Rating</strong> <%= review.rating %>/5<br>
    </ul><br>
    <% end%>

    <form action="/users/:id">
      <input type="submit" class="button" value="My Reviews">
    </form>

    <form action="/reviews/new" method="GET">
      <input type="submit" class="button" value="Create New Review">
    </form>

    <form action="/restaurants/index">
      <input type="submit" class="button" value="View Restaurants">
    </form>

    <form action="/logout">
      <input type="submit" class="button" value="Log Out">
    </form>

  </body>
</html>
