<br><br><br>
<h1>Create a New Review</h1>
<br>
<form action="/reviews/new" method="POST">
  <label>Choose an existing restaurant:</label><br>

  <%@restaurants.each do |restaurant|%>
  <input type="radio" name="restaurant_id" value="<%=restaurant.id%>"><%= restaurant.name%>
  <% end%>
<br><br>
  <label>Your restaurant not on the List? <a href="/restaurants/new" style="color:#6f6d5a">Create a new restaurant!</a></label><br><br><br>
  <!-- <label>Restaurant Name</label>
  <input type="text" name="name" value=""><br><br> -->
<!-- check params for key :name and ensure unique -->

  <label>Title</label>
  <input type="text" name="title"require><br><br>
  <label>Experience</label>
  <textarea name="experience" require>
  </textarea><br><br>
  <label>Rating</label>
  <input type="number" name="rating" step="0.5" min="1" max="5"require><br><br><br>
  <input type= "submit" value="Create Review"><br><br>

  <form action="/logout">
    <input type="submit" class="button" value="Log Out">
  </form>
</form>
</body>
</html>
