<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <style>
      <!-- id of input field -->{
      border: 2px black solid;
    }
    </style>

<h1>Create a New Review:</h1>

<form action="/reviews/new" method="POST">
  <label>Choose an existing restaurant:</label><br><br>

  <%@restaurants.each do |restaurant|%>
  <input type="radio" name="restaurant_id" value="<%=restaurant.id%>"> <%= restaurant.name%><br><br>
  <% end%>

  <label>Your restaurant not on the List? <a href="/restaurants/new">Create a new restaurant!</a></label><br><br>
  <!-- <label>Restaurant Name</label>
  <input type="text" name="name" value=""><br><br> -->
<!-- check params for key :name and ensure unique -->

  <label> Title:</label>
  <input type="text" name="title"require><br> <br>
  <label> Experience:</label>
  <input type="text" name="experience"require><br> <br>
  <label> Rating:</label>
  <input type="number" name="rating"require><br><br> <br>
  <input type= "submit" value="Create Review">
</form>
</body>
</html>
