<div class="container">
  <!-- <header><img src="xxx" class="img-responsive main-image"></header> -->
  <!-- <div class="col-md-8 col-md-offset-2"> -->
  <!-- <div class="content"> -->
<br><br><br><br><br><br><br>
      <h1>Welcome to MUNCH</h1>
<br><br><br><br><br><br><br><br><br><br>
      <form action="/signup" method="GET">
        <input type="submit" value="Sign Up" class="button">
      </form>

      <form action="/login" method="GET">
        <input type="submit" value="Log In" class="button">
      </form>

      <!-- <h3><a href="/login">Log In</a></h3>
      <h3><a href="/signup">Create Account</a></h3> -->
    <!-- </div>

  </div> -->
</div>
