<div class="container">
<br><br><br><br><br><br><br>
      <h1>Welcome to MUNCH</h1>
<br><br><br><br><br><br><br><br><br><br>
      <form action="/signup" method="GET">
        <input type="submit" value="Sign Up" class="button">
      </form>

      <form action="/login" method="GET">
        <input type="submit" value="Log In" class="button">
      </form>
</div>
